@charset "UTF-8";

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main {
    height:100vh;
    display: flex;
    align-items:center;
    justify-content:center;

}
.container {
    width: 620px;
    text-align:center;
}
.title {

}
.title  h2 {
    font-size: 3em;

}
.title .underline {
    width: 50px;
    border:2px solid hsl(205, 78%, 60%);
    margin-left: auto;
    margin-right: auto;
}

article.review {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.img-container {
    width: 150px;
    height: 150px;
    margin-left:auto;
    margin-right:auto;

}
.img-container img{
    width:100%;
    height: 100%;
    border-radius:50%;
    object-fit: cover;
}
#author {
    margin-bottom: 0.25rem;
}
#job {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: hsl(205, 78%, 60%);
    font-size: 0.85rem;
}
